img{
  margin: 15px;
  margin-left: 15px;
  height: 510px;
  width: 1475px;
  align-content: center;
}

.class1{
  margin: 15px;
}

h1 {
  margin: 15px;
  font-size: 8rem; /* Adjust font size as needed */
  color: #ffffff;
  position: absolute; /* Position the text absolutely within the container */
  top: 20px; /* Adjust top position as needed */
  right: 20px; /* Adjust right position as needed */
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Blue */
  color: #fff; /* White */
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3; /* Darker Blue */
}
